body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
#submit-button{
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

.letter-container{
    position:relative;
    width: 120px;
    height: 120px;
}
.letter{
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 80px;
    background-color: #e74c3c;
    clip-path: polygon(50% 0%, 05 100%, 100% 100%);
    animation: receiveLetter 1s ease-in-out infinite alternate;
    opacity: 0;
}
.letter-before{
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
}
.letter-after{
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
}
@keyframes receiveLetter {
    0%{
        top: -40px;
        opacity: 0;
    }
    100%{
        top: 0;
        opacity: 1;
    }
}
.animate-button{
    transition: transform 0.3s ease-in-out;
}
.animate-button:active{
    transform: scale(0.95);
}