
input{
    display: block;
}
input [type="text"], input[type="email"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid#ccc;
}
input:required:invalid{ 
    border-color: red;
}
input:required:valid{
    border-color: green;
}

:valid{
    background-color: white;
}